[package]
name = "elasticsearch_exporter"
version = "0.2.0"
authors = ["Ernestas Poskus <ernestas@vinted.com>"]
edition = "2018"
description = """
Vinted Elasticsearch exporter
"""
documentation = "https://docs.rs/elasticsearch_exporter"
homepage = "https://github.com/vinted/elasticsearch-exporter-rs"
license = "BSD-3-Clause"
repository = "https://github.com/vinted/elasticsearch-exporter-rs"
autobins = false

[[bin]]
name = "elasticsearch_exporter"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1

[dependencies]
elasticsearch = "7.10.0-alpha.1"
prometheus = { version = "0.10", default-features = false, features = ["process", "protobuf"] }
serde = "1"
serde_json = "1"
lazy_static = "1.4.0"
clap = { version = "3.0.0-beta.2", default-features = false, features = ["suggestions", "color", "derive", "std", "cargo"] }
log = "0.4.11"
pretty_env_logger = "0.4.0"
url = "2.2.0"
futures-util = "0.3.8"
humantime = "2.0.1"
serde_derive = "1.0.117"
serde_qs = "0.7.0"
byte-unit = "4.0.9"
rand = { version = "0.7.3", default-features = false }

[dependencies.hyper]
version = "0.13"
default-features = false
features = ["runtime", "stream", "tcp"]

[dependencies.tokio]
version = "0.2"
default-features = false
features = ["rt-threaded", "signal", "sync", "macros"]
